# editor configs
.DS_Store
.vs/
.vscode/
*.swp

# build files
*.exe
build
server/server

# libraries
*.dll
*.a
*.dylib
*.app

# cmake
**/CopyOfCMakeCache.txt
CMakeFiles
CMakeCache.txt
cmake_install.cmake

Makefile


